# Proyecto Final: Carga de datos desde csv de datos de supermercados

Para este demo se cargara la información desde tres archivos pdv
1. ventas_mensuales:  Archivos con las diferentes transacciones de un mes
2. pdv.csv: archivo maestro de pdv
3. sku.csv: archivo maestro de productos

In [1]:
import pandas as pd #Se importa la libraria de panda

# Carga Inicial de transacciones

In [2]:
try:
    df_ventas = pd.read_csv("origen/ventas_mensuales.csv", sep = ';', dtype={"UPC":  "string"})
    df_ventas.head(1000)
except Exception as e:
       print("Error al momento de cargar el dataframe"+e)
finally:
        print("Se ha cargado el proceso de venta mensual")

Se ha cargado el proceso de venta mensual

In [3]:
# usando df.shape() para obtener las dimensiones del dataframe generado
df_ventas.shape

(1000, 15)

In [4]:
#Se inicializan los indices del dataframe
df_ventas.reset_index(drop=True)

,factura_id,ciudad,tipo_cliente,genero,linea_producto,precio,cantidad,impuesto_5,total,fecha,hora,pago,rating,Producto_id,tienda_id
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,01/05/2019,13:08,Ewallet,9.1,2.0,1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,03/08/2019,10:29,Cash,9.6,3.0,4
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,03/03/2019,13:23,Credit card,7.4,4.0,5
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,01/27/2019,20:33,Ewallet,8.4,5.0,6
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,02/08/2019,10:37,Ewallet,5.3,6.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,Naypyitaw,Normal,Male,Health and beauty,40.35,1.0,2.0175,42.3675,01/29/2019,13:46,Ewallet,6.2,34.0,8
996,303-96-2227,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.6900,1022.4900,03/02/2019,17:16,Ewallet,4.4,6.0,1
997,727-02-1313,Yangon,Member,Male,Food and beverages,31.84,1.0,1.5920,33.4320,02/09/2019,13:22,Cash,7.7,NaN,4
998,347-56-2442,Yangon,Normal,Male,Home and lifestyle,65.82,1.0,3.2910,69.1110,02/22/2019,15:33,Cash,4.1,1.0,3
999,849-09-3807,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.9190,649.2990,02/18/2019,13:28,Cash,6.6,1.0,7

In [5]:
#Vericando si existen nan en cada columna
df_ventas.isna().sum()

factura_id         0
ciudad             0
tipo_cliente       0
genero             0
linea_producto     0
precio             4
cantidad           3
impuesto_5         4
total              0
fecha              0
hora               0
pago               0
rating             0
Producto_id       19
tienda_id          0
dtype: int64

In [6]:
#Eliminando todos los nans del data frame pero generando una copia del dataframe para evitar 
#el problema de slice si es una vista o una copia

df_ventas_nonans= df_ventas.dropna().copy()
df_ventas_nonans

,factura_id,ciudad,tipo_cliente,genero,linea_producto,precio,cantidad,impuesto_5,total,fecha,hora,pago,rating,Producto_id,tienda_id
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,01/05/2019,13:08,Ewallet,9.1,2.0,1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,03/08/2019,10:29,Cash,9.6,3.0,4
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,03/03/2019,13:23,Credit card,7.4,4.0,5
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,01/27/2019,20:33,Ewallet,8.4,5.0,6
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,02/08/2019,10:37,Ewallet,5.3,6.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,690-01-6631,Mandalay,Normal,Male,Fashion accessories,17.49,10.0,8.7450,183.6450,02/22/2019,18:35,Ewallet,6.6,4.0,6
995,233-67-5758,Naypyitaw,Normal,Male,Health and beauty,40.35,1.0,2.0175,42.3675,01/29/2019,13:46,Ewallet,6.2,34.0,8
996,303-96-2227,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.6900,1022.4900,03/02/2019,17:16,Ewallet,4.4,6.0,1
998,347-56-2442,Yangon,Normal,Male,Home and lifestyle,65.82,1.0,3.2910,69.1110,02/22/2019,15:33,Cash,4.1,1.0,3
999,849-09-3807,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.9190,649.2990,02/18/2019,13:28,Cash,6.6,1.0,7

In [7]:
#Se crea campo para poder hacer el ordernamiento o agrupacion adecuadamente
df_ventas_nonans['fecha_larga'] =  df_ventas_nonans["fecha"] +' '+   df_ventas_nonans["hora"]
df_ventas_nonans

,factura_id,ciudad,tipo_cliente,genero,linea_producto,precio,cantidad,impuesto_5,total,fecha,hora,pago,rating,Producto_id,tienda_id,fecha_larga
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,01/05/2019,13:08,Ewallet,9.1,2.0,1,01/05/2019 13:08
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,03/08/2019,10:29,Cash,9.6,3.0,4,03/08/2019 10:29
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,03/03/2019,13:23,Credit card,7.4,4.0,5,03/03/2019 13:23
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,01/27/2019,20:33,Ewallet,8.4,5.0,6,01/27/2019 20:33
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,02/08/2019,10:37,Ewallet,5.3,6.0,7,02/08/2019 10:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,690-01-6631,Mandalay,Normal,Male,Fashion accessories,17.49,10.0,8.7450,183.6450,02/22/2019,18:35,Ewallet,6.6,4.0,6,02/22/2019 18:35
995,233-67-5758,Naypyitaw,Normal,Male,Health and beauty,40.35,1.0,2.0175,42.3675,01/29/2019,13:46,Ewallet,6.2,34.0,8,01/29/2019 13:46
996,303-96-2227,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.6900,1022.4900,03/02/2019,17:16,Ewallet,4.4,6.0,1,03/02/2019 17:16
998,347-56-2442,Yangon,Normal,Male,Home and lifestyle,65.82,1.0,3.2910,69.1110,02/22/2019,15:33,Cash,4.1,1.0,3,02/22/2019 15:33
999,849-09-3807,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.9190,649.2990,02/18/2019,13:28,Cash,6.6,1.0,7,02/18/2019 13:28

In [8]:
#Se guarda los resultados en un csv
df_ventas_nonans.to_csv("validados/ventas_clean.csv")

# Carga de datos de pdv

In [9]:
#Carga de catalogo catalogo de tienda
df_pdv = pd.read_csv("origen/pdv.csv", sep = ';',encoding = 'utf8')
df_pdv.head(1000)

   ID                          Pos        Direccion     Pais
0   1          Super 98 1-Penonome          Penonome  Panamá
1   2        Super 98 9-Vista Real        Vista Real  Panamá
2   3           Super 98 2-Central           Central  Panamá
3   4           Super 98 3-Palermo           Palermo  Panamá
4   5          Super 98 4- Mercado           Mercado  Panamá
5   6         Super 98 5- Terminal          Terminal  Panamá
6   7  Super 98 6- Canto del Llano   Canto del Llano  Panamá
7   8          Super 98 7- Guarare           Guarare  Panamá

In [10]:
#Se guarda los resultados en un csv
df_pdv.to_csv("validados/pdv_clean.csv")

# Carga de datos de catalogo de productos

In [11]:
#Se carga el catalogo de productos de las tiendas
df_sku = pd.read_csv("origen/sku.csv", sep = ';',encoding = 'utf8', dtype={"UPC":  "string"})
df_sku.head(1000)

      ID                            Sku          UPC      Marca Empaque
0      1     DOUBLEMINT 5 STICK PACKAGE  22000002020  WRIGLEY`S   5STIC
1      2    JUICE FRUIT 5 STICK PACKAGE  22000002037  WRIGLEY`S   5STIC
2      3           WINTERFRESH 5 STICKS  22000002082  WRIGLEY`S   5STIC
3      4         DOUBLEMINT 15 STK SLIM  22000006660  WRIGLEY`S   UNID.
4      5  ECLIPSE GUM PEPPERMINT 8/18CT  22000013194    ECLIPSE     9'U
..   ...                            ...          ...        ...     ...
306  307  OLD SPICE BODY WASH FIJI 3IN1  37000267904  OLD SPICE   473ML
307  308        CHARMIN ULTRA SOFT 12PK  37000285823    CHARMIN    12PK
308  309   4PK CHARMIN ULTRA SOFT 176CT  37000296850    CHARMIN    4'R.
309  310   CREST KIDS CAVITY PROTECTION  37000314981      CREST   UNID.
310  311  CD CREST COMPLET WHITEN 6.2OZ  37000427285      CREST   6.2OZ

[311 rows x 5 columns]

In [12]:
#Se guarda los resultados en un csv
df_sku.to_csv("validados/productos_clean.csv")